@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0px;
  padding: 0px;
}
.langSelector {
  position: absolute;
  top: 0;
  z-index: 100000;
}
#englishLang {
  display: none;
}

/*Palette 1:*/
$DarkBlue: #3f495c;
$LightBlue: #b0bbd1;
$DarkBrown: #8a7c79;
$MediumBrown: #888277;
$LightBrown: #d9cdcb;
$DarkGreen: #555c47;
$DarkerGreen: #3e4435;
$whiteIsh: #d5d9cc;
$WeirdGreen: #87afa3;
$LightRed: #c36060;
$purplish: #252047;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  display: flex;
  width: 100%;
}
ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}
.topsocials {
  width: 20%;
  height: 50px;
  position: fixed;
  top: 2vh;
  right: 0;
  z-index: 2000;
  display: flex;
  ul {
    margin-right: 20px;
    width: 100%;
    justify-content: right;
    li {
      a {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
  }
}

.autoText::after {
  content: "|";
  font-size: 150%;
  animation: blink 0.75s step-end infinite;
}
.context {
  width: 100%;
  position: absolute;
  top: 35vh;
  z-index: 20;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.context h1 {
  text-align: center;
  color: #c7cfbc;
  font-size: 50px;
}

.context p {
  margin-top: 10px;
  text-align: center;
  color: #c7cfbc;
  font-size: 40px;
  z-index: 10;
  a {
    z-index: 10;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    position: relative;
    border-radius: 30px;
    transition: 0.3s;
  }
  a:hover {
    scale: 1.05;
    transition: 0.3s;
  }
}
.context p:nth-child(3) {
  a {
    color: $LightRed;
    border: 3px solid $LightRed;
  }
  a:hover {
    color: lighten($color: $LightRed, $amount: 15);
    border: 3px solid lighten($color: $LightRed, $amount: 15);
  }
}
.context p:nth-child(5) {
  a {
    color: $WeirdGreen;
    border: 3px solid $WeirdGreen;
  }
  a:hover {
    color: lighten($color: $WeirdGreen, $amount: 15);
    border: 3px solid lighten($color: $WeirdGreen, $amount: 15);
  }
}
.area {
  background: $DarkBlue;
  background: -webkit-linear-gradient(to left, $LightBlue, $DarkBlue);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: transparentize($color: $LightBlue, $amount: 0.7);
  animation: animate 25s linear infinite;
  bottom: -225px;
  z-index: 5;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 75px;
  height: 75px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  left: 10%;
  width: 150px;
  height: 150px;
  animation-delay: 4s;
  animation-duration: 20s;
}
.circles li:nth-child(12) {
  left: 70%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
  animation-duration: 11s;
}
.circles li:nth-child(13) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 6s;
  animation-duration: 11s;
}
.circles li:nth-child(14) {
  left: 35%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.circles li:nth-child(15) {
  left: 80%;
  width: 50px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.divider {
  position: relative;
  opacity: 100%;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-color: $DarkBlue;
  background-blend-mode: normal;
  img {
    position: relative;
    z-index: 100;
    height: 100%;
    width: 100%;
  }
}

.columnSplit {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutHeader {
  background: $DarkerGreen;
  z-index: 10;
  position: relative;
  text-align: center;
  color: #c7cfbc;
  font-size: 30px;
  img {
    width: 25%;
    z-index: 10;
  }
}

.about {
  background: $DarkerGreen;
  position: relative;
  z-index: 10;
  min-height: 400px;
}

.gsapTest {
  display: block;
  background: black;
  padding: 50px;
  width: 100px;
  height: 100px;
}

.aboutMeSection {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  h2 {
    font-size: 40px;
    color: #c7cfbc;
    margin-bottom: 20px;
  }
  .aboutMeText {
    width: 80%;
    color: #c7cfbc;
    font-size: 30px;
  }
}

.aboutMeExtra {
  background-color: $DarkerGreen;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  h2 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #c7cfbc;
  }
  .aboutMeExtraDiv {
    height: 100%;
    width: 33%;
    text-align: center;
    padding: 2.5%;
  }
  .aboutMeExtraText {
    width: 100%;
    font-size: 30px;
    color: #c7cfbc;
  }
}

.dividerTwo {
  position: relative;
  opacity: 100%;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-color: $MediumBrown;
  background-blend-mode: normal;
  img {
    height: 100%;
    width: 100%;
  }
}
.dividerThree {
  position: relative;
  opacity: 100%;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-color: $purplish;
  background-blend-mode: normal;
  img {
    height: 100%;
    width: 100%;
  }
}
.skillSet {
  height: 100%;
  width: 100%;
  background-color: $DarkerGreen;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.splide__pagination {
  bottom: -25px !important;
}
.splide__arrows {
  display: none;
}

.proWork {
  min-height: 400px;
  background-color: $MediumBrown;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  color: #e0e0e0;
  width: 100%;
  text-align: center;
  p {
    width: 80%;
  }
}

.container80 {
  width: 80%;
  height: 100%;
  text-align: center;
  font-size: 30px;
}
.columnsStart {
  margin-top: 100px;
  height: 100%;
  width: 100%;
}
.workItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.leftImg {
  width: 50%;
  height: 100%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  background-color: $DarkBlue;
  img {
    width: 100%;
    height: 100%;
  }
  .leftImg:hover {
    scale: 1.1;
  }
}
.leftImgContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 40%;
  h3 {
    margin-bottom: 5px;
    font-size: 50px;
    transition: 0.3s;
  }
  h3:hover {
    scale: 1.1;
    transition: 0.3s;
  }
}
.rightImg {
  width: 50%;
  height: 100%;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  background-color: $DarkGreen;
  img {
    width: 100%;
    height: 100%;
  }
  .rightImg:hover {
    scale: 1.1;
  }
}
.rightImgContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 40%;
  h3 {
    margin-bottom: 5px;
    font-size: 50px;
    transition: 0.3s;
  }
  h3:hover {
    scale: 1.1;
    transition: 0.3s;
  }
}

footer {
  min-height: 400px;
  background-color: $purplish;
  display: flex;
  justify-content: center;
}
.footerDiv {
  padding: 30px;
  display: flex;
  justify-content: start;
  text-align: center;
  border-radius: 30px;
  border: 3px solid $LightRed;
  flex-direction: column;
  margin-bottom: 100px;
  h2 {
    font-size: 30px;
    padding-bottom: 20px;
    color: #fff;
  }
  p {
    font-size: 25px;
    color: #fff;
  }
  .footerSocials {
    padding-top: 20px;
    height: 100%;
    ul {
      display: flex;
      justify-content: center;
      height: 50%;
    }
    a {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgba(245, 245, 245);
  }
}

@media (max-width: 1320px) {
  .container {
    flex-direction: column;
  }
  .columnSplit {
    width: 100%;
    padding-top: 2.5%;
  }
  .aboutHeader {
    img {
      width: 50%;
    }
  }
  .workItem {
    flex-direction: column;
    .leftImg {
      width: 100%;
      padding-left: 5%;
    }
    .leftImgContent {
      width: 80%;
    }
    .rightImg {
      width: 100%;
      padding-right: 5%;
    }
    .rightImgContent {
      width: 80%;
    }
  }
  .workItem.rightWorkItem {
    flex-direction: column-reverse;
  }
}

@media (max-width: 800px) {
  .aboutHeader {
    img {
      width: 80%;
    }
  }
  .container80 {
    width: 100%;
  }
  .workItem {
    flex-direction: column;
    .leftImg {
      width: 100%;
      padding: 0%;
      a {
        padding: 0%;
      }
    }
    .leftImgContent {
      width: 100%;
    }
    .rightImg {
      width: 100%;
      padding: 0%;
    }
    .rightImgContent {
      width: 100%;
    }
  }
}
